<!-- start navbar -->
{% extends 'dashboard/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
{% block content %}
<style>
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
</style>
  <!-- strat wrapper -->
  <div class="h-screen flex flex-row flex-wrap">
  
    <!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">
    

    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden md:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->

      <a href="/dashboard" class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">TABLEAU DE BORD</a>

      <!-- link -->
      {% comment %} <a href="/accounts" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-envelope-open-text text-xs mr-2"></i>
        Comptes
      </a> {% endcomment %}
      <!-- end link -->

      <!-- link -->
      <a href="/contents" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-comments text-xs mr-2"></i>
        Textes
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/accounts" class="liens mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500 active">
        <i class="fad fa-shield-check text-xs mr-2"></i>
        Comptes
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/posts" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-calendar-edit text-xs mr-2"></i>
        Postes
      </a>
      <!-- end link -->
      {% if  'ALL' in request.session.user.type.acces %}
      <!-- link -->
      <a href="/users" style="text-decoration:none;" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-file-invoice-dollar text-xs mr-2"></i>
        Utilisateurs
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="#" class="liens capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-folder-open text-xs mr-2"></i>
        file manager
      </a>
      <!-- end link -->  
      {% endif %} 

    </div>
    <!-- end sidebar content -->

  </div>
  <!-- end sidbar -->

  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16"> 

    
    <!-- General Report -->
    <div class="grid grid-cols-4 gap-6 xl:grid-cols-1">


    <!-- card -->
    <div class="report-card">
        <div class="card">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h6 text-indigo-700 fad fa-shopping-cart"></div>
                    <span class="rounded-full text-white badge bg-teal-400 text-xs">
                        12%
                        <i class="fal fa-chevron-up ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="h5 ">{{unassigned_texts|length}}</h1>
                    <p>Nouveau Textes</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card">
        <div class="card">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h6 text-red-700 fad fa-store"></div>
                    <span class="rounded-full text-white badge bg-red-400 text-xs">
                        6%
                        <i class="fal fa-chevron-down ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h2 class="h6">{{current_session.code}}</h2>
                    <p>Session active</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card">
        <div class="card">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h6 text-yellow-600 fad fa-sitemap"></div>
                    <span class="rounded-full text-white badge bg-teal-400 text-xs">
                        72%
                        <i class="fal fa-chevron-up ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="h5 ">{{posts|length}}</h1>
                    <p>Postes</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card">
        <div class="card">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h6 text-green-700 fad fa-users"></div>
                    <span class="rounded-full text-white badge bg-teal-400 text-xs">
                        150%
                        <i class="fal fa-chevron-up ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="h5 ">{{posters|length}}</h1>
                    <p>Posteurs</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->
    
{% comment %} 
</div>
    <!-- end card --> {% endcomment %}
    

</div>
    

    <!-- end nmbers -->

    <!-- start quick Info -->
    <div class="grid grid-cols-3 gap-6 mt-6 xl:grid-cols-1">


    <!-- Browser Stats -->
    {% if  'POST' not in request.session.user.type.acces %}
    <div class="card">
        <div class="card-header">Nouveau compte</div>

        {% comment %} FORMULAIRE {% endcomment %}
        
        <div class="card-body px-4 py-5 px-md-5">
            {% comment %} <h3 class="card-title text-center">Connexion</h3> {% endcomment %}
          <form action="/accounts/save" method="POST">{% csrf_token %}

            <!-- Email input -->
            {% comment %} <div class="form-outline mb-4">
              <textArea type="text" id="form3Example3" class="form-control px-5" style="border:1px solid #cccccc;height:100px;border-radius:10px;width:100%" name="text" placeholder="avis" required>texte de votre avis</textArea>
            </div> {% endcomment %}

            <div class="form-outline mb-4">
                <input type="text"  id="form3Example3" class="form-control px-5" style="border:1px solid #cccccc;height:40px;border-radius:10px;width:100%" name="fullname" placeholder="Nom complet" required/>
                {% comment %} <label class="form-label" for="form3Example3">Email address</label> {% endcomment %}
            </div>

            <div class="form-outline mb-4">
                <input type="text"  id="form3Example3" class="form-control px-5" style="border:1px solid #cccccc;height:40px;border-radius:10px;width:100%" name="passwd" placeholder="mot depasse" required/>
                {% comment %} <label class="form-label" for="form3Example3">Email address</label> {% endcomment %}
            </div>

            <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control px-5" style="border:1px solid #cccccc;height:40px;border-radius:10px;width:100%" name="country" placeholder="Pays" required/>
                {% comment %} <label class="form-label" for="form3Example3">Email address</label> {% endcomment %}
            </div>

            {% comment %} <div class="form-outline mb-4">
                <select name='gender' class="" style="border:1px solid #cccccc;height:40px;border-radius:10px;width:100%">
                    <option value="M" selected>Homme</option>
                    <option value="F" selected>Femme</option>
                </select>
            </div> {% endcomment %}

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" style="width:100%;">
              Enregistrer
            </button>

            <!-- Register buttons -->
          </form>
        </div>

        {% comment %} FORMULAIRE {% endcomment %}

    </div>
    {% endif %}
    <!-- end Browser Stats -->

    <!-- Start Recent Sales -->
    <div class="card col-span-{% if  'POST' not in request.session.user.type.acces %}2{% else %}3{% endif %} xl:col-span-1">
        <div class="card-header">Liste des Comptes</div>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                {% if 'POST' in request.session.user.type.acces %}
                <tr>
                    <th>Nom</th>
                    <th>E-mail</th>
                    <th>Mot de passe</th>
                    <th>Pays</th>
                </tr>
                {% elif 'ALL' in request.session.user.type.acces %}
                <tr>
                    <th>Nom</th>
                    <th>E-mail</th>
                    <th>Mot de passe</th>
                    <th>Pays</th>
                    <th>Etat</th>
                </tr>
                {% else %}
                <tr>
                    <th>Etat</th>
                    <th>Nom</th>
                    <th>E-mail</th>
                    <th>Pays</th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if 'POST' in request.session.user.type.acces %}
                    {% for tx in user_accounts %}
                    <tr>                    
                        <td>{{ tx.fullName }}</td>
                        <td>{{tx.email}}<span class=""></span></td>
                        <td class="text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500">{{ tx.passwd }}</td>
                        <td><span class=""></span> {{ tx.country }}</td>
                    </tr>
                    {% endfor %}
                {% elif 'ALL' in request.session.user.type.acces %}
                    {% for tx in accounts %}
                    <tr>                    
                        <td>{{ tx.fullName }}</td>
                        <td>{{tx.email}}<span class=""></span></td>
                        <td class="text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500">{{ tx.passwd }}</td>
                        <td><span class=""></span> {{ tx.country }}</td>
                        <td class="text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500"><i class="fad fa-circle"></i></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    {% for tx in accounts %}
                    <tr>                    
                        <td class="text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500"><i class="fad fa-circle"></i></td>
                        <td>{{ tx.fullName }}</td>
                        <td>{{tx.email}}<span class=""></span></td>
                        <td> {{ tx.country }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
                {% if 'POST' in request.session.user.type.acces %}
                <tr>
                    <th>Nom</th>
                    <th>E-mail</th>
                    <th>Mot de passe</th>
                    <th>Pays</th>
                </tr>
                {% elif 'ALL' in request.session.user.type.acces %}
                <tr>
                    <th>Nom</th>
                    <th>E-mail</th>
                    <th>Mot de passe</th>
                    <th>Pays</th>
                    <th>Etat</th>
                </tr>
                {% else %}
                <tr>
                    <th>Etat</th>
                    <th>Nom</th>
                    <th>E-mail</th>
                    <th>Pays</th>
                </tr>
                {% endif %}
            </tfoot>
        </table>

        {% comment %} <table class="table-auto w-full text-left">
            <thead>
                {% if 'POST' in request.session.user.type.acces %}
                <tr>
                    <th class="px-4 py-2 border-r">Nom</th>
                    <th class="px-4 py-2 border-r">E-mail</th>
                    <th class="px-4 py-2 border-r">Mot de passe</th>
                    <th class="px-4 py-2">Pays</th>
                </tr>
                {% elif 'ALL' in request.session.user.type.acces %}
                <tr>
                    <th class="px-4 py-2 border-r">Nom</th>
                    <th class="px-4 py-2 border-r">E-mail</th>
                    <th class="px-4 py-2 border-r">Mot de passe</th>
                    <th class="px-4 py-2">Pays</th>
                    <th class="px-4 py-2 border-r">Etat</th>
                </tr>
                {% else %}
                <tr>
                    <th class="px-4 py-2 border-r">Etat</th>
                    <th class="px-4 py-2 border-r">Nom</th>
                    <th class="px-4 py-2 border-r">E-mail</th>
                    <th class="px-4 py-2">Pays</th>
                </tr>
                {% endif %}
            </thead>
            <tbody class="text-gray-600">
                {% if 'POST' in request.session.user.type.acces %}
                    {% for tx in user_accounts %}
                    <tr>                    
                        <td class="border border-l-0 px-4 py-2">{{ tx.fullName }}</td>
                        <td class="border border-l-0 px-4 py-2">{{tx.email}}<span class=""></span></td>
                        <td class="border border-l-0 px-4 py-2 text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500">{{ tx.passwd }}</td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class=""></span> {{ tx.country }}</td>
                    </tr>
                    {% endfor %}
                {% elif 'ALL' in request.session.user.type.acces %}
                    {% for tx in accounts %}
                    <tr>                    
                        <td class="border border-l-0 px-4 py-2">{{ tx.fullName }}</td>
                        <td class="border border-l-0 px-4 py-2">{{tx.email}}<span class=""></span></td>
                        <td class="border border-l-0 px-4 py-2 text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500">{{ tx.passwd }}</td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class=""></span> {{ tx.country }}</td>
                        <td class="border border-l-0 px-4 py-2 text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500"><i class="fad fa-circle"></i></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    {% for tx in accounts %}
                    <tr>                    
                        <td class="border border-l-0 px-4 py-2 text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500"><i class="fad fa-circle"></i></td>
                        <td class="border border-l-0 px-4 py-2">{{ tx.fullName }}</td>
                        <td class="border border-l-0 px-4 py-2">{{tx.email}}<span class=""></span></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class=""></span> {{ tx.country }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                
            </tbody>
        </table> {% endcomment %}
    </div>
    <!-- End Recent Sales -->


</div>
    <!-- end quick Info -->
        

  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->
{% endblock content %}
