<!-- start navbar -->
{% extends 'dashboard/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
<script src="{% static 'assets/js/bootstrap.min.css' %}"></script>
{% block content %}
  <!-- strat wrapper -->
  <div class="h-screen flex flex-row flex-wrap">
  
    <!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">
    

    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden md:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->

      <a href="/dashboard" class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">TABLEAU DE BORD</a>

      <!-- link -->
      {% comment %} <a href="/accounts" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-envelope-open-text text-xs mr-2"></i>
        Comptes
      </a> {% endcomment %}
      <!-- end link -->

      <!-- link -->
      <a href="/contents" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-comments text-xs mr-2"></i>
        Textes
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/accounts" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500 active">
        <i class="fad fa-shield-check text-xs mr-2"></i>
        Comptes
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/posts" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-calendar-edit text-xs mr-2"></i>
        Postes
      </a>
      <!-- end link -->
      {% if  'ALL' in request.session.user.type.acces %}
      <!-- link -->
      <a href="/users" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-file-invoice-dollar text-xs mr-2"></i>
        Utilisateurs
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="#" class=" capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-folder-open text-xs mr-2"></i>
        file manager
      </a>
      <!-- end link -->  
      {% endif %} 

    </div>
    <!-- end sidebar content -->

  </div>
  <!-- end sidbar -->

  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16"> 

    
    <!-- General Report -->
    <div class="grid grid-cols-4 gap-6 xl:grid-cols-1">


    <!-- card -->
    <div class="report-card">
        <div class="card">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h6 text-indigo-700 fad fa-shopping-cart"></div>
                    <span class="rounded-full text-white badge bg-teal-400 text-xs">
                        12%
                        <i class="fal fa-chevron-up ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="h5 ">{{unassigned_texts|length}}</h1>
                    <p>Nouveau Textes</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card">
        <div class="card">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h6 text-red-700 fad fa-store"></div>
                    <span class="rounded-full text-white badge bg-red-400 text-xs">
                        6%
                        <i class="fal fa-chevron-down ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h2 class="">{{current_session.code}}</h2>
                    <p>Session active</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card">
        <div class="card">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h6 text-yellow-600 fad fa-sitemap"></div>
                    <span class="rounded-full text-white badge bg-teal-400 text-xs">
                        72%
                        <i class="fal fa-chevron-up ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="h5 ">{{posts|length}}</h1>
                    <p>Postes</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card">
        <div class="card">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h6 text-green-700 fad fa-users"></div>
                    <span class="rounded-full text-white badge bg-teal-400 text-xs">
                        150%
                        <i class="fal fa-chevron-up ml-1"></i>
                    </span>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="h5 ">{{posters|length}}</h1>
                    <p>Posteurs</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->
    
{% comment %} 
</div>
    <!-- end card --> {% endcomment %}
    

</div>
    

    <!-- end nmbers -->

    <!-- start quick Info -->
    <div class="grid grid-cols-3 gap-6 mt-6 xl:grid-cols-1">


    <!-- Browser Stats -->
    {% if  'POST' in request.session.user.type.acces %}
    <div class="card">
        <div class="card-header">Nouveau poste</div>

        {% comment %} FORMULAIRE {% endcomment %}
        
        <div class="card-body px-4 py-5 px-md-5">
            {% comment %} <h3 class="card-title text-center">Connexion</h3> {% endcomment %}
          <form action="/posts/save" method="POST" enctype='multipart/form-data'>{% csrf_token %}

            <div class="form-outline mb-4">
                <select name='content' class="" style="border:1px solid #cccccc;height:40px;border-radius:10px;width:100%">
                    <option disabled selected>Choisir un texte</option>
                    {% for x in user_texts %}
                    <option value="{{x.id}}" selected>{{ x.truncate }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-outline mb-4">
                <select name='account' class="" style="border:1px solid #cccccc;height:40px;border-radius:10px;width:100%">
                    <option disabled selected>Choisir un compte</option>
                    {% for x in user_accounts %}
                    <option value="{{x.id}}" selected>{{ x.fullName }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Capture d'écran</label>
                <input type="file" id="form3Example3" class="form-control px-5" style="border:1px solid #cccccc;height:40px;border-radius:10px;width:100%" name="shot" required/>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" style="width:100%;">
              Enregistrer
            </button>

            <!-- Register buttons -->
          </form>
        </div>

        {% comment %} FORMULAIRE {% endcomment %}

    </div>
    {% endif %}
    <!-- end Browser Stats -->

    <!-- Start Recent Sales -->
    <div class="card col-span-{% if 'POST' in request.session.user.type.acces %}2{% else %}3{% endif %} xl:col-span-1">
        <div class="card-header">Liste des postes</div>

        <table class="table-auto w-full text-left">
            <thead>
                {% if 'POST' in request.session.user.type.acces %}
                <tr>
                    <th class="px-4 py-2 border-r">Nº</th>
                    <th class="px-4 py-2 border-r">Comptes</th>
                    <th class="px-4 py-2 border-r">Textes</th>
                    <th class="px-4 py-2">Etats</th>
                    <th class="px-4 py-2 border-r">Captures</th>
                </tr>
                {% elif 'ALL' in request.session.user.type.acces %}
                <tr>
                    <th class="px-4 py-2 border-r">Noms</th>
                    <th class="px-4 py-2 border-r">Comptes</th>
                    <th class="px-4 py-2 border-r">Textes</th>
                    <th class="px-4 py-2">Etats</th>
                    <th class="px-4 py-2 border-r">Captures</th>
                </tr>
                {% else %}
                <tr>
                    <th class="px-4 py-2 border-r">Noms</th>
                    <th class="px-4 py-2 border-r">Comptes</th>
                    <th class="px-4 py-2 border-r">Textes</th>
                    <th class="px-4 py-2 ">Actions</th>
                </tr>
                {% endif %}
            </thead>
            <tbody class="text-gray-600">
                {% if 'POST' in request.session.user.type.acces %}
                    {% for tx in user_posts %}
                    <tr>                    
                        <td class="border border-l-0 px-4 py-2">{{ tx.id }}</td>
                        <td class="border border-l-0 px-4 py-2">{{tx.account.fullName}}<span class=""></span></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class=""></span> {{ tx.content.truncate }}</td>
                        <td class="border border-l-0 px-4 py-2 text-center text-{% if tx.isRejected %}red{% elif tx.isValid %}green{% else %}blue{% endif %}-500"><i class="fad fa-circle"></i></td>
                        <td class="border border-l-0 px-4 py-2 text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500"><img src="{{tx.shot.url}}" style="width:55px;"/></td>
                    </tr>
                    {% endfor %}
                {% elif 'ALL' in request.session.user.type.acces %}
                    {% for tx in posts %}
                    <tr>                    
                        <td class="border border-l-0 px-4 py-2">{{ tx.user.name }}</td>
                        <td class="border border-l-0 px-4 py-2">{{tx.account.fullName}}<span class=""></span></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class=""></span> {{ tx.content.truncate }}</td>
                        <td class="border border-l-0 px-4 py-2 text-center text-{% if tx.isRejected %}red{% elif tx.isValid %}green{% else %}blue{% endif %}-500"><i class="fad fa-circle"></i></td>
                        <td class="border border-l-0 px-4 py-2 text-center text-{% if tx.isOccupy %}red{% else %}green{% endif %}-500"><img src="{{tx.shot.url}}" style="width:55px;"/></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    {% for tx in session_posts %}
                    <tr>                    
                        <td class="border border-l-0 px-4 py-2">{{ tx.user.fname }} {{ tx.user.lname }}</td>
                        <td class="border border-l-0 px-4 py-2">{{tx.account.fullName}}<span class=""></span></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class=""></span> {{ tx.content.truncate }}</td>
                        <td class="border border-l-0 px-4 py-2 text-center text-{% if tx.id %}red{% else %}green{% endif %}-500" 
                        style="display:flex;justify-content:space-between">
                            <a class="btn btn-info" type="button" data-toggle="modal" data-target="#img{{tx.id}}" title="voir la capture d'écran" style="width:30%">
                                <i class="fad fa-circle"></i>
                            </a>
                            <a class="btn btn-success show-modal" title="valider le poste" style="width:30%">
                                <i class="fad fa-circle"></i>
                            </a>
                            <a class="btn btn-danger" title="rejeter le poste" style="width:30%">
                                <i class="fad fa-circle"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                
            </tbody>
        </table>
        <style>
              
            .close-modal {
              position: absolute;
              top: 1.2rem;
              right: 2rem;
              font-size: 2rem;
              color: #333;
              cursor: pointer;
              border: none;
              
            }
            
            /* -------------------------- */
            /* CLASSES TO MAKE MODAL WORK */
            .hidden {
              display: none;
            }
            
            .modal {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 70%;
            
              background-color: white;
              padding: 6rem;
              border-radius: 5px;
              box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
              z-index: 10;
            }
            
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.6);
              backdrop-filter: blur(3px);
              z-index: 5;
            }
            
      </style>
      <div class="valider">
        <div class="modal hidden">
            <button class="close-modal">&times;</button>
            <h1>I'm a modal window 😍</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
            </p>
        </div>
        <div class="overlay hidden"></div>
    </div>
    <script type="text/javascript">
        'use strict';

const modal = document.querySelector('.modal');
const overlay = document.querySelector('.overlay');
const btnCloseModal = document.querySelector('.close-modal');
const btnsOpenModal = document.querySelectorAll('.show-modal');

const openModal = function () {
modal.classList.remove('hidden');
overlay.classList.remove('hidden');
};

const closeModal = function () {
modal.classList.add('hidden');
overlay.classList.add('hidden');
};

for (let i = 0; i < btnsOpenModal.length; i++) {
btnsOpenModal[i].addEventListener('click', openModal);
}

btnCloseModal.addEventListener('click', closeModal);

overlay.addEventListener('click', closeModal);

document.addEventListener('keydown', function (e) {
if (e.key === 'Escape' && !modal.classList.contains('hidden')) {
closeModal();
}
});

    </script>
    </div>
    {% comment %} POPUPS {% endcomment %}
    {% comment %} {% for tx in session_posts %}
    <!-- Modal -->
    <div id="img{{tx.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
            <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    
        </div>
    </div>
    {% endfor %} {% endcomment %}
    {% comment %} FIN POPUPS {% endcomment %}
    <!-- End Recent Sales -->


</div>
    <!-- end quick Info -->
        

  </div>
  <!-- end content -->

  {% comment %} SCRIPTS {% endcomment %}
  <script>
    var vs=document.querySelectorAll('.val')    //BOUTTONS DE VALIDATIONS
    var rs=document.querySelectorAll('.rej')    //BOUTTONS DE REJECTS

    for(let item of vs) {
        item.addEventListener('click',function(){

        })
    }
    for(let item of rs){
        item.addEventListener('click',function(){
            
        })
    }
  </script>
  {% comment %} FIN SCRIPTS {% endcomment %}

</div>
<!-- end wrapper -->
{% endblock content %}
